[submodule "3rd/jemalloc"]
	path = 3rd/jemalloc
	url = https://gitee.com/thinblog/jemalloc.git
[submodule "3rd/pbc"]
	path = 3rd/pbc
	url = https://gitee.com/thinblog/pbc.git
[submodule "3rd/luabitop"]
	path = 3rd/luabitop
	url = https://github.com/LuaDist/luabitop.git
[submodule "3rd/lua-openssl"]
	path = 3rd/lua-openssl
	url = https://gitee.com/thinblog/lua-openssl.git
[submodule "3rd/lua-cjson"]
	path = 3rd/lua-cjson
	url = https://gitee.com/thinblog/lua-cjson.git
[submodule "3rd/luaossl"]
	path = 3rd/luaossl
	url = https://gitee.com/thinblog/luaossl.git
[submodule "3rd/luagbk"]
	path = 3rd/luagbk
	url = https://gitee.com/thinblog/luagbk.git
[submodule "3rd/mmdblua"]
	path = 3rd/mmdblua
	url = https://gitee.com/thinblog/mmdblua.git
[submodule "3rd/lua-maxminddb"]
	path = 3rd/lua-maxminddb
	url = https://gitee.com/thinblog/lua-maxminddb.git
[submodule "3rd/lua-protobuf"]
	path = 3rd/lua-protobuf
	url = https://gitee.com/thinblog/lua-protobuf.git
[submodule "3rd/pbc_v3"]
	path = 3rd/pbc_v3
	url = https://gitee.com/thinblog/pbc_v3.git
	branch = proto_v3
